.game-board {
  /* 3x3 */
  /* margin: 25px;
  width: 500px;
  height: 500px; */
  /* 7x7 */
  width: 1500px;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 25px;
}
.game-cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 100px;
  /* 7x7 */
  font-size: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.game-cell.is-x {
  color: #2cccff;
}
.game-cell.is-o {
  color: #ff6651;
}
.game-reset {
  margin: 25px;
  display: inline-block;
  padding: 15px 20px;
  color: white;
  background-color: #6a5af9;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}
.game-winner {
  padding: 25px;
  font-size: 30px;
  color: #f62682;
}

/* Responsive */

/* Tablet & Mobile */
@media only screen and (max-width: 63.9375em) {
  .game-winner {
    padding: 4rem 3rem;
    font-size: 45px;
  }

  .game-reset {
    font-size: 35px;
    padding: 25px 30px;
    position: fixed;
    left: 40%;
    margin-top: 3.5rem;
  }
}
